/*html {
  background-size: 100%;
  /*height: 100%;*/
  /*z-index: 1;*/
/*}*/


h1, h2, p {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
  background: url('../Images/newBackground.jpg') no-repeat fixed;
  background-size: 100%;

  display: inline-block;
  /*height: 32em;*/
  /*position: relative;*/
  /*margin: 0 2rem;*/
}


.box{
        float:left;
        overflow: hidden;
        background: #f0e68c;
    }
    /* Add padding and border to inner content
    for better animation effect */
    .box-inner{
        width: 400px;
        padding: 10px;
        border: 1px solid #a29415;
    }













.layer {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
  height: 100%;
}


.logo {
  display: inline;
}

.logo img {
  width: 10rem;
}

header {
  position: relative;
  text-align: center;
}

.socials {
  line-height: 40px;
  margin-top: auto;
  position: absolute;
  right: 15%;
  top: 1em;
}

.socMedia {
  width: 27px;
  margin: 0 0 0 8.91px;
}

.upperText {
  position: absolute;
  top: 140%;
  right: 13%;
  color: white;
  text-align: center;
  padding: 2px 16px;
  width: 75em;
  z-index: 9;
}

.upperText p {
  font-size: 24px;
}

/*.contactBtn {
  background: #fff;
  width: 5em;
  height: 10em;
}*/

/*.compName {
  margin-top: 1%;
}*/




/*.slideout {
  position: absolute;
  left: -300;
}

/*.lowerLanding {
  position: relative;
  left: -103em;
  z-index: 1;
  height: 30%;
  overflow: hidden;
  border-top: 1px solid black;
  margin: 0 2rem;
  background: #666563;
  color: #fff;
}*/

.quickContact {
  margin-top: 3em;
  margin-left: 3%;
}

/*.quickContact h2 {
  font-size: 35px;
}*/

label, textarea {
  display: block;
}

.column {
  float: left;
}*/

/*.verticalLine {
  border-left: .5px solid grey;
}

.half {
  width: 50%;
}

.right {
  width: 30%;
  margin-left: 10%;
  padding-top: 5%;
}

label {
  margin: 1rem 0 .2rem 0;
}

.inputField {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.address, .phone, .email {
  margin-left: 5%;
}*/

/*.btn {*/
  /*border-radius: .25rem;*/
  /*color: black;*/
  /*height: 7.5%;*/
  /*margin-top: 2em;*/
  /*margin-bottom: 3%;*/
  /*width: 15rem;*/
  /*background-color: #63D1F4;
  border-color: #63D1F4;*/
  /*font-weight: 400;*/
  /*line-height: 1.25;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*padding: .5em 1rem;*/
  /*font-size: 1rem;*/
  /*transition: all .2s ease-in-out;*/

/*}*/


/*footer {
  border-top: 1px solid black;
}*/
