h1, h2, p {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.invert{
    -webkit-filter: invert(100%);
}

header {
  position: relative;
  text-align: center;
}

.landingUpper {
  background: url('../Images/newBackground.jpg') no-repeat fixed;
  /* background-size: 100%;
  height: 40rem; */
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 350px;
}

.contactBtn {
  background: #fff;
  width: 5em;
  height: 10rem;
  z-index: 10;
}

.testimonials {
  width: 100%;
  height: 25rem;
  border-bottom: 1px solid grey;
}

.ourWork {
  background: #F0F0F0;
}

.aboutUs {
  width: 100%;
  height: 25rem;
  text-align: center;
  border-bottom: 1px solid grey;
  /* background: #f1c27d; */
}

.contactUs{

}

footer {
  position: relative;
  overflow: auto;
  background: #F0F0F0;
}
