h1, h2, p {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.landingUpper {
  background: url('../Images/EngineeringBackground.jpg') no-repeat fixed;
  background-size: 100%;
  height: 32em;
  position: relative;
  /*margin: 0 2rem;*/
}

header {
  position: relative;
}

.socials {
  line-height: 40px;
  margin-top: auto;
  position: absolute;
  right: 15%;
  top: -6px
}

.socMedia {
  width: 27px;
  margin: 0 0 0 8.91px;
}

.upperText {
  position: absolute;
  top: 20%;
  right: 13%;
  color: white;
  text-align: center;
  padding: 2px 16px;
  border-radius: 10px;
  border: 1px solid white;
  width: 75em;
  background:rgba(0,0,0,0.5);
}

.upperText p {
  font-size: 24px;
}

.compName {
  margin-top: 1%;
}

.middleLanding {
  height: 34em;
}

.landingTiles {
  width: 100%;
  padding-top: 3rem;
}

.tileOne {
  height: 30%;
}

.tileTwo {
  margin-left: 2%;
  margin-right: 2%;
}

.tileThree {
  margin-left: 2%;
  margin-right: 3%;
}

.imageTiles img {
  width: 100%;
  height: 100%;
}

.tileOne {
  border: 1px solid grey;
  width: 24.6%;
  height: 23em;
  margin-right: 3%;
  margin-left: 5%;
  float: left;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.container {
  position: relative;
}

.tileTwo {
  border: 1px solid grey;
  width: 25%;
  height: 23em;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-repeat: no-repeat;
}


.tileThree {
  border: 1px solid grey;
  /*width: 24%;
  height: 17.5em;*/
  width: 25%;
  height: 23em;
  margin-right: 5%;
  float: left;
  border: 1px solid black;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-repeat: no-repeat;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  background:rgba(255,255,255,0.75);
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.container:hover .overlay {
  height: 100%;
}

.lowerLanding {
  z-index: 1;
  height: 30%;
  overflow: hidden;
  border-top: 1px solid black;
  margin: 0 2rem;
  background: #666563;
  color: #fff;
}

.quickContact {
  margin-top: 3em;
  margin-left: 3%;
}

.quickContact h2 {
  font-size: 35px;
}

label, textarea {
  display: block;
}

.column {
  float: left;
}

.verticalLine {
  border-left: .5px solid grey;
}

.half {
  width: 50%;
}

.right {
  width: 30%;
  margin-left: 10%;
  padding-top: 5%;
}

label {
  margin: 1rem 0 .2rem 0;
}

.inputField {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.address, .phone, .email {
  margin-left: 5%;
}

.btn {
  border-radius: .25rem;
  color: black;
  /*height: 7.5%;*/
  margin-top: 2em;
  margin-bottom: 3%;
  width: 15rem;
  /*background-color: #63D1F4;
  border-color: #63D1F4;*/
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  padding: .5em 1rem;
  font-size: 1rem;
  transition: all .2s ease-in-out;

}


/*footer {
  border-top: 1px solid black;
}*/
