.footerLogo{
  display: block;
  position: absolute;
  left: 3%;
  top: 18%;
  margin-top: 9px;
  margin-bottom: 10px;
  width: 6rem;
}

.footerAddy{
  float: left;
  margin-left: 10%;
  display: inline-block;
}

.socials {
  line-height: 40px;
  margin-top: auto;
  position: absolute;
  top: 10%;
  right: 5%;
}

.socMedia {
  width: 27px;
  margin: 0 0 0 8.91px;
}

.footerCopy {
  display: inline-block;
  position: absolute;
  bottom: 3%;
  right: 5%;
}

.address, .phone, .email {
  margin-left: 5%;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footerCopy {
    right: 40%;
  }

  .footerAddy{
    margin-left: 12%;
  }

}


/* Mobile */

 /* @media only screen and (max-width: 667px) { */
   @media only screen and (max-width: 480px){
   footer {
     height: 20rem;
     clear: both;
   }

   .footerLogo {
     top: 10%;
   }

   .footerAddy{
     margin-top: 35%;
     margin-left: 2%;
   }


 }
