.stickyNav {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 6;
  height: 7em;
  border-bottom: 1px solid #fff;
}


.globalNav {
  right: 5px;
  float: right;
  list-style: none;
  margin:0;
  padding:0;
  color: white;
  width: auto;
  height: 2em;
  background:rgba(0,0,0,0);
}

.darkNav {
  background: rgba(0,0,0,.75);
}

.globalNav li {
margin: 0, auto;
display: inline;
font-size: 1em;
line-height: 1;
text-decoration: none;
text-transform: uppercase;
}

.globalNav li a {
  margin-top: 5px;
  display: inline-block;
  padding: 0.625em;
  color: #fff;
  text-decoration: none;

}

.mobileNav {
  display: none;
}

.logo {
  display: block;
  position: absolute;
  left: 1%;
  top: 1%;
  margin-top: 9px;
  margin-bottom: 10px;
  width: 6rem;
}

/* .logo img {
} */

.upperText {
  /* display: inline-block; */
  position: absolute;
  top: 25%;
  right: 13%;
  color: white;
  text-align: center;
  padding: 2px 16px;
  width: 100%;
  font-size: 70px;
  /*z-index: 9;*/
}

.small{
  color: white;
  position: absolute;
  top: 46%;
  right: 7.8%;
  width: 75%;
  font-size: 38px;
}

label, textarea {
  display: block;
}

label {
  margin: 1rem 0 .2rem 0;
}

.inputField {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.address, .phone, .email {
  margin-left: 5%;
}

.btn {
  border-radius: .25rem;
  color: black;
  height: 7.5%;
  margin-top: 2em;
  margin-bottom: 3%;
  width: 15rem;
  background-color: #63D1F4;
  border-color: #63D1F4;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  padding: .5em 1rem;
  font-size: 1rem;
  transition: all .2s ease-in-out;
}

/* Projects */

.ourWork{
  text-align: center;
}

.workTitle{
  padding-top: 2%;
  margin-bottom: 2%;
}

.workDesc {
  margin-bottom: 4%;
}

.projectsContainer {
  position: relative;
  right: 3.5%;
  display: grid;
  grid-template-columns: repeat(16, 200px);
  grid-template-rows: repeat(16, 50px);
  grid-gap: 2px;
}


.mainProj {
  grid-column: 2 / 5;
  grid-row: 1 / 16;
  border: 1px solid black;
  background: url("../Images/home.jpg") no-repeat;
  background-size: cover;
}

.middle {
  position: inherit; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay:hover .middle {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
}

.proj2 {
  grid-column: 5 / 7;
  grid-row: 1 / 8;
  border: 1px solid black;
  background: url("../Images/us.jpg") no-repeat;
  background-size: cover;
}

.proj3 {
  border: 1px solid black;
  grid-column: 5 / 7;
  grid-row: 8 / 16;
  background: url("../Images/livingroom.jpg") no-repeat;
  background-size: cover;
}

.proj4 {
  border: 1px solid black;
  grid-column: 7 / 9;
  grid-row: 1 / 8;
  background: url("../Images/home.jpg") no-repeat;
  background-size: cover;
}

.proj5 {
  border: 1px solid black;
  grid-column: 7 / 9;
  grid-row: 8 / 16;
  background: url("../Images/you.jpg") no-repeat;
  background-size: cover;
}

/* Testimonials */

.testimonials {
  text-align: center;
}

.testimonialTitle {
  margin-top: 6%;
}

.testimonialWrapper {
  margin-top: 4%;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 200px); */
  margin-bottom: 4rem;
}

.testimony1, .testimony2, .testimony3 {
  display: inline-block;
  width: 30%;
  /* margin-left: 3%; */
  /* grid-column: 5 / 6; */
}

.testimony1{
  padding-right: 3%;
}

.testimony3 {
  padding-left: 3%;
}

/* Services */
.ourServices {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  /* border-bottom: 1px solid grey; */
}

.serviceGrouping {
  padding-top: 3%;
}

.serviceTwo, .serviceThree, .serviceFour{
  width: 20%;
  display: inline-block;
  margin-left: 3%;
}

.serviceTwo {
  float: left;
}

.serviceImage {
  display: inline-block;
  width: 40%;
  margin-bottom: 8%;
}

.svcTitle{
  display:inline;
  font-size: 2em;
  padding-left: 15%;
  width: 10%;
  margin-top: 2%;
}

.serviceText {
  text-align: center;
  padding-right: 12%;
}

.landImg {
  margin-right: 8%;
}

.landDev{
  padding-left: 3%;
}

.serviceUL {
  list-style: none;
}

.serviceFour{
  float: right;
  margin-right: 2rem;
}

.serviceUL li {
  margin-top: 4.5%;
}

/* About */
/* .aboutUs{
  overflow: visible;
  position: relative;
} */

.aboutText {
  max-width: 70rem;
  margin-left: 20%;
  margin-right: 20%;
}

.aboutBrian{
  position: absolute;
  left: 4%;
  top: 40%;
  width: 33%;
}

.aboutSister{
  position: absolute;
  right: 3%;
  top: 40%;
  width: 33%;
}

.aboutImg {
  width: 15%;
  border-radius: 50%;
}


/* Copntact */

.contactText{
  margin-top: 4%;
  text-align: center;
}


.contactWrapper {
  display: grid;
  grid-template-columns: repeat(12, 200px);
}

.contactUs {
  grid-column: 3 / 7;
}

/* Footer */

.footerAddy{
  float: right;
  /* position: absolute;
  right: 5%; */
  display: inline-block;
}

.socials {
  line-height: 40px;
  margin-top: auto;
  position: absolute;
  bottom: 1%;
}

.socMedia {
  /* position: absolute;
  bottom: 1%; */
  width: 27px;
  margin: 0 0 0 8.91px;
}
