.globalNav li {
margin: 0, auto;
display: inline;
font-size: 1em;
line-height: 1;
text-decoration: none;
text-transform: uppercase;
}

.globalNav li a {
  margin-top: 5px;
  display: inline-block;
  padding: 0.625em;
  color: #fff;
  text-decoration: none;

}
