/* @media only screen and (max-width : 768px) { */
@media only screen
/* and (min-device-width : 375px) */
and (max-width : 667px) {
  .globalNav{
    display: none;
  }

/* Sections */

.landingUpper{
    /* height: 24rem; */
  }

.ourServices {
  height: 50rem;
}


/* Nav */
  .stickyNav {
    height: 10rem;
  }

  .mobileNav {
    display: inline-block;
    position: absolute;
    list-style: none;
    bottom: 0%;
    right: 0%;
    width: 100%;
    margin:0;
    padding:0;
    color: white;
    /* width: auto; */
    height: 2em;
  }

  .mobileNav li{
    margin: 0, auto;
    /* padding-left: 3rem; */
    display: inline;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
  }

  .workNav {
    position: absolute;
    right: 80%;
  }

  .aboutNav{
    position: absolute;
    left: 45%;
  }

  .contactNav {
    position: absolute;
    left: 75%;
  }

  .mobileNav li a {
    /* margin-top: 5px; */
    display: inline-block;
    padding: 0.625em;
    color: #fff;
    text-decoration: none;

  }

  .logo{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
  }


/* Upper Landing */

  .upperText {
    /* display: inline-block; */
    position: absolute;
    top: 20%;
    /* top: 10rem; */
    width: 100%;
    font-size: 40px;
    /*z-index: 9;*/
  }

  .small{
    top: 35%;
  }


/* Services */

  /* .serviceTwo, .serviceThree, .serviceFour{ */
    /* width: 29%; */
    /* border: 1px solid red; */
    /* height: 10rem; */
    /* display: inline-block; */
  /* } */

  /* .serviceGrouping {
    position: relative;
    border: 1px solid red;
  } */

  .serviceTwo, .serviceThree, .serviceFour{
    display: block;
    margin-left: 50%;
    /* margin-right: auto; */
  }

  .serviceTwo{
    position: absolute;
    top: 15%;
    right: 45%
  }

  .serviceThree {
    position: absolute;
    /* top: 90%;
    right: 40%; */


    top: 41%;
right: 11%;
width: 23em;
margin: 0;
  }

  .serviceThree ul {
    padding-right: 12%;
  }

  .serviceFour ul {
    padding-right: 12%;
  }

  .serviceFour{
    position: absolute;
    float: none;
    margin: 0;
    top: 71%;
    right: 49.5%;
  }

.fourText{
  width: 15em;
}


  .serviceImage {
    position: absolute;
    right: 110%;
    width: 45%;
  }

  .commImg{
    position: absolute;
    right: 100%;
  }

  .landImg {
    position: absolute;
    right: 92%;
    width: 13%;
  }

  .serviceWrapper{
    /* border: 1px solid black; */
    position: absolute;
    width:14rem;
  }

  .serviceWrapper3 {
    width: 25rem;
  }

/* Our Work */
.ourWork{
  height: 150rem;
}

.mobileWork {
  display: inline-block;
}

.projectsContainer{
  display: none;
}

.mainProj {
  position: absolute;
  top: 6%;
  left: 12%;
  width: 80%;
  height: 17rem;
  background: url("../Images/home.jpg") no-repeat;
  background-size: cover;
}

.mainDesc {
  position: absolute;
  top: 18%;
  left: 12%;
  width: 81%;
  color: #000;
}

.proj2 {
  position: absolute;
  top: 25%;
  left: 12%;
  background: url("../Images/us.jpg") no-repeat;
  background-size: cover;
  width: 80%;
  height: 17rem;
}

.proj2Desc{
  position: absolute;
  top: 37%;
  left:12%;
  width:81%;
}

.proj3{
  position: absolute;
  background: url("../Images/livingroom.jpg") no-repeat;
  background-size: cover;
  width: 80%;
  height: 30%;
}

.proj3Desc{
  position: absolute;
}

.proj4 {
  position: absolute;
  background: url("../Images/home.jpg") no-repeat;
  background-size: cover;
  width: 80%;
  height: 30%;
}

.proj4Desc{
  position: absolute;
}

.proj5{
  position: absolute;
  background: url("../Images/you.jpg") no-repeat;
  background-size: cover;
  width: 80%;
  height: 30%;
}

.proj5Desc{
  position: absolute;
}






/* Testimonials */

.testimonials{
  height: 50rem;
}

 .testimony1, .testimony2, .testimony3 {
   position: absolute;
 }

 .testimony1{
   top: 20%;
   right: 31%;
 }

 .testimony2{
   top: 44%;
   right: 34%;
 }

 .testimony3{
   top: 74%;
   right: 34%
 }


/* About Us */

.aboutUs{
  height: 55rem;
}

.brianImg {
  left: 7%;
  top: 40%;
}

.aboutBrian{
  left: 31%;
  bottom: 43%;
  width: 63%;
}

.sisterImg{
  top: 72%;
  right:78%;
  height: 11%;
}

.aboutSister{
  width: 63%;
  right:6%;
  bottom: 10%;
}

/* Contact Us */
.contactInvite{
  margin: 3%;
}

.contactWrapper{
  grid-template-columns: repeat(4, 350px);
}

.contactUs{
  grid-column: 1 / 3;
}

.contactForm{
  width: 80%;
  margin-left: 3%;
}



/* Footer */

footer {
  height: 20rem;
}

.footerLogo {
  top: 5%;
}

.footerAddy{
  margin-top: 20%;
  margin-left: 2%;
}




}
