@media only screen and (max-width: 667px) {


  .globalNav{
    display: none;
  }

/* Sections */

.ourServices {
  height: 50rem;
}


/* Nav */
  .stickyNav {
    height: 10rem;
  }

  .mobileNav {
    display: inline-block;
    position: absolute;
    list-style: none;
    bottom: 0%;
    right: 0%;
    width: 100%;
    margin:0;
    padding:0;
    color: white;
    height: 2em;
  }

  .mobileNav li{
    margin: 0, auto;
    display: inline;
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
  }

  .workNav {
    position: absolute;
    right: 80%;
  }

  .aboutNav{
    position: absolute;
    left: 45%;
  }

  .contactNav {
    position: absolute;
    left: 75%;
  }

  .mobileNav li a {
    display: inline-block;
    padding: 0.625em;
    color: #fff;
    text-decoration: none;

  }

  .logo{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
  }


/* Upper Landing */

  .upperText {
    position: absolute;
    top: 20%;
    width: 100%;
    font-size: 44px;
  }

  .small{
    top: 35%;
  }


/* Services */

.ourServices{
  height: 104rem;
}

  /* .serviceTwo, .serviceThree, .serviceFour{
    display: block;
    margin-left: 50%;
    /* margin-right: auto; */
  }

 .serviceTwo, .serviceThree, .serviceFour{
   width: 100vw;
    /* position: absolute;
    top: 15%;
    right: 45% */
  }

  /* .serviceThree {
    position: absolute;
    top: 41%;
    right: 11%;
    width: 23em;
    margin: 0;
  } */

  /* .serviceThree ul {
    padding-right: 12%;
  } */

  /* .serviceFour ul {
    padding-right: 12%;
  } */

  /* .serviceFour{
    position: absolute;
    float: none;
    margin: 0;
    top: 71%;
    right: 49.5%;
  } */
/*
  .fourText{
    width: 15em;
  } */ */

  /* .serviceImage {
    /* position: absolute;
    right: 110%;
    width: 45%; */
    /* margin-left: 45%; */
    /* width: 100%; */
  } */

  /* .commImg{
    position: absolute;
    right: 100%;
  }

  .landImg {
    position: absolute;
    right: 92%;
    width: 13%;
  } */

  /* .serviceWrapper{
    /* border: 1px solid black; */
    /* position: absolute; */
    /* width:14rem; */
  } */

  /* .serviceWrapper3 {
    width: 25rem;
  } */

/* Our Work */
.ourWork{
  height: 110rem;
  /* height: 90rem; */
}

.mobileWork {
  display: inline-block;
}

.projectsContainer{
  display: none;
}

.mainProj {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 80%;
  height: 17rem;
  background: url("../Images/NorkirkDev.png") no-repeat;
  background-size: cover;
}

.mainDesc {
  position: absolute;
  top: 27%;
  left: 12%;
  width: 81%;
  color: #000;
}

.proj2 {
  position: absolute;
  top: 39%;
  left: 12%;
  background: url("../Images/WilliamsRes.png") no-repeat;
  background-size: cover;
  width: 80%;
  height: 17rem;
}

.proj2Desc{
  position: absolute;
  top: 56%;
  left:12%;
  width:81%;
}

.proj3{
  position: absolute;
  background: url("../Images/KentCommercial.png") no-repeat;
  background-size: cover;
  width: 80%;
  top: 68%;
  left: 12%;
  height: 17rem;
}

.proj3Desc{
  position: absolute;
  top: 85%;
  left: 12%;
  width: 81%;
}

.proj4 {
  position: absolute;
  background: url("../Images/GamrothRemodel.png") no-repeat;
  background-size: cover;
  width: 80%;
  top: 65%;
  left: 12%;
  height: 17rem;
}

.proj4Desc{
  position: absolute;
  top: 77%;
  left: 12%;
  width: 81%;
}

/* .proj5{
  position: absolute;
  background: url("../Images/DevonshirePointe.png") no-repeat;
  background-size: cover;
  width: 80%;
  height: 17rem;
  top: 85%;
  left: 12%;
}

.proj5Desc{
  position: absolute;
  top: 97%;
  left: 12%;
  width: 81%
} */






/* Testimonials */

.testimonials{
  height: 50rem;
}

 .testimony1, .testimony2, .testimony3 {
   position: absolute;
 }

 .testimony1{
   top: 20%;
   right: 31%;
 }

 .testimony2{
   top: 44%;
   right: 34%;
 }

 .testimony3{
   top: 74%;
   right: 34%
 }


/* About Us */

.aboutUs{
  height: 55rem;
}

.aboutText{
  width: 90%;
  margin: 0 auto;
}

.brianImg {
  left: 34%;
  top: 21%;
  width: 30%;
}

.aboutBrian{
  left: 4%;
  bottom: 44%;
  width: 90%;
}

.sisterImg{
  top: 61%;
  right:36%;
  height: 11%;
  width: 30%;
}

.aboutSister{
  width: 90%;
  right:6%;
  bottom: 7%;
}

/* Contact Us */
.contactInvite{
  margin: 3%;
}

.contactWrapper{
  grid-template-columns: repeat(4, 350px);
}

.contactUs{
  grid-column: 1 / 3;
}

.contactForm{
  width: 80%;
  margin-left: 3%;
}



/* Footer */

footer {
  height: 20rem;
}

.footerLogo {
  top: 5%;
}

.footerAddy{
  margin-top: 20%;
  margin-left: 2%;
}




}
