.mobileWork {
  display: none;
}

.ourWork{
  text-align: center;
}

.workTitle{
  padding-top: 2%;
  margin-bottom: 2%;
}

.workDesc {
  margin-bottom: 4%;
}

.projectsContainer {
  position: relative;
  margin-left: 2%;
  display: grid;
  grid-template-columns: repeat(16, 200px);
  grid-template-rows: repeat(16, 50px);
  grid-gap: 2px;
}


.mainProj {
  grid-column: 1 / 5;
  grid-row: 1 / 16;
  border: 1px solid black;
  background: url("../Images/NorkirkDev_min.png") no-repeat;
  background-size: cover;
}

.proj2 {
  grid-column: 5 / 9;
  grid-row: 1 / 8;
  border: 1px solid black;
  background: url("../Images/WilliamsRes_min.png") no-repeat;
  background-size: cover;
}

.proj3 {
  border: 1px solid black;
  grid-column: 5 / 7;
  grid-row: 8 / 16;
  background: url("../Images/KentCommercial_min.png") no-repeat;
  background-size: cover;
}

/* .proj4 {
  border: 1px solid black;
  grid-column: 7 / 9;
  grid-row: 1 / 8;
  /* background: url("../Images/GamrothRemodel.png") no-repeat; */
  /* background: url("../Images/DevonshirePointe.png") no-repeat; */
  /* background-size: cover; */
/* } */

.proj5 {
  border: 1px solid black;
  grid-column: 7 / 9;
  grid-row: 8 / 16;
  /* background: url("../Images/DevonshirePointe.png") no-repeat; */
  background: url("../Images/GamrothRemodel_min.png") no-repeat;
  background-size: cover;
}

.middle {
  position: inherit;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  cursor: default;
}

.middText {
  display: inline-block;
  padding-top: 32%;
  width: 90%;
  line-height: 2;
}

.mid2 {
  padding-top: 14%;
}

.mid5 {
  padding-top: 20%;
}

.overlay:hover .middle {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .projectsContainer {
    grid-template-columns: repeat(16, 145px);
    margin-left: 9%;
    margin-right: 9%;
    /* margin-left: 7%;
    grid-gap: 7px; */
}

.mid5 {
  padding-top: 7%;
}

.landImg {
  margin-right: 5%;
}


}


@media only screen and (min-width: 1601px) {
  .projectsContainer{
    margin-left: 1%;
    grid-gap: 7px;
  }




  }






/* @media only screen and (max-width: 667px) { */
@media only screen and (max-width: 480px){
  .ourWork{
    height: 132rem;
 }

 .workTitle {
   padding-top: 8%;
 }

 hr {
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1.75em 9% 1.5em;
    padding: 0;
    width: 80%;
 }

  .mobileWork {
    display: inline-block;
  }

  .projectsContainer{
    display: none;
  }

  .mainProj {
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    width: 100%;
    height: 22rem;
    background: url("../Images/NorkirkDev_min.png") no-repeat;
    background-size: cover;
  }

  .mainDesc {
    position: absolute;
    top: 23.5%;
    left: 0;
    right: 0;
    color: #000;
    line-height: 1.6;
  }

  .proj2 {
    position: absolute;
    top: 32%;
    left: 0;
    background: url("../Images/WilliamsRes_min.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 17rem;
  }

  .proj2Desc{
    position: absolute;
    top: 45.7%;
    left: 0;
    right: 0;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 1.6;
  }

  .proj3{
    position: absolute;
    background: url("../Images/KentCommercial_min.png") no-repeat;
    background-size: cover;
    width: 100%;
    top: 55.4%;
    left: 0;
    height: 17rem;
  }

  .proj3Desc{
    position: absolute;
    top: 69%;
    left: 0;
    line-height: 1.6;
  }

  .proj4 {
    position: absolute;
    background: url("../Images/GamrothRemodel_min.png") no-repeat;
    background-size: cover;
    width: 100%;
    top: 76.5%;
    left: 0;
    height: 17rem;
  }

  .proj4Desc{
    position: absolute;
    top: 90%;
    left: 0;
    margin-left: 1%;
    margin-right: 1%;
    /* martin-bottom: 3 */
    line-height: 1.6;

  }

  /* .proj5{
    position: absolute;
    background: url("../Images/DevonshirePointe.png") no-repeat;
    background-size: cover;
    width: 80%;
    height: 17rem;
    top: 85%;
    left: 12%;
  }

  .proj5Desc{
    position: absolute;
    top: 97%;
    left: 12%;
    width: 81%
  } */
}
